body{
	background: url('bg2.jpg') no-repeat center center fixed;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

nav{
	padding: 20px;
    background: rgba(0,0,0,0.5);
    position: relative;
}

.main-container{
    margin: 0px auto;
    position: relative;
    top: 70px;
    padding: 100px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    font-family: 'Esteban', serif;
    width: 50%;
}

.main h1{
	font-size: 30px;
    font-family: 'Esteban', serif;		
    padding: 10px 0px;
}
.main p{
	font-size: 16px;
    font-family: 'Esteban', serif;	
}

nav > a{
    font-family: 'Esteban', serif;	
    color: white;
    text-decoration: none;
    padding: 20px 10px;
}


a:hover{
	/*text-decoration: underline;*/
	color:lightgrey;
}

.Homedropdown{
    position: absolute;
    width: 125px;
    height: 100px;
    padding:5px;
    background-color: black;
    left: 15px;
    z-index: 10;
}


.Homedropdown a{
    font-family: 'Esteban', serif;  
    color: white;
    text-decoration: none;  
    display: block; 
    padding: 5px 0px; 
}

.Reportsdropdown{
    position: absolute;
    width: 125px;
    height: 30px;
    padding:5px;
    background-color: black;
    left: 85px;
    z-index: 10;
}

.Reportsdropdown a{
    font-family: 'Esteban', serif;  
    color: white;
    text-decoration: none;  
    display: block; 
    padding: 5px 0px; 
}

.Statusdropdown{
    position: absolute;
    width: 125px;
    height: 125px;
    padding:5px;
    background-color: black;
    left: 285px;
    z-index: 10;
}

.Statusdropdown a{
    font-family: 'Esteban', serif;  
    color: white;
    text-decoration: none;  
    display: block; 
    padding: 5px 0px; 
}

.Statusdropdown a:hover{
    color: lightgrey;
}
.Reportsdropdown a:hover{
    color: lightgrey;
}
.Homedropdown a:hover{
    color: lightgrey;
}
@media(max-width: 450px){
	.main-container{
		padding:50px;
	}
}

/*font-family: 'Exo 2', sans-serif;*/